.Pictures {
    max-height: 400px;
    overflow: auto;
    box-shadow: 0 3px #ddd;
    margin-bottom: 3px;
}
.Image {
    box-sizing: border-box;
    width: 200px;
    height: 150px;
    padding: 10px;
    border: 1px solid transparent;
}
.Image.active {
    border: 1px solid rgb(21, 106, 243);
    background: #ddddff;
}
.Image.blackborder {
    width: 180px;
    height: 130px;
    margin: 10px;
    border: 1px solid #000;
}
.Button {
    box-sizing: border-box;
    width: 180px;
    height: 130px;
    margin: 10px;
    vertical-align: top;
}